@model IEnumerable<GiftStore.Models.Projectgift>

@{
    ViewData["Title"] = "Gifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">

    <h1>Gifts</h1>
        @if (Model.Any())
        {
            <table class="table example table-striped">
                <thead>
                    <tr>
                        <th>
                            Gift
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Gift Maker
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/GiftImages/"+ item?.Image)" asp-append-version="true" style="width:100px;height:100px;border-radius:20%;"><br>@Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryUsr.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem =>item.CategoryUsr.User.Username)
                            </td>

                        </tr>
                    }
                </tbody>
    </table>
    }else{
            <div class="alert alert-light mb-0" role="alert">
                Still there are no gifts in the website yet.
            </div>
    }
    </div>
</div>
