@model GiftStore.Models.Projectpayment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Projectpayment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cardnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cardnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expirationdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expirationdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvvcvc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvvcvc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availablebalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availablebalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
